.app__post {
  width: 100%;
  border: var(--border);
  background: var(--white);
  margin: 10px 0;
  //   max-height: 500px;

  .app__post-top {
    width: 100%;

    .top__container {
      height: 50px;
      padding: 10px;
      display: flex;
      align-items: center;
      border-bottom: var(--border);
      justify-content: space-between;

      .top__container-user {
        display: flex;
        align-items: center;

        .posts__status {
          padding: 2px;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          border: 1px solid red;
          margin-right: 10px;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
          }
        }
      }

      .top__container-options {
        display: flex;
        cursor: pointer;
        align-items: center;

        span {
          height: 5px;
          width: 5px;
          background: var(--gray);
          border-radius: 50%;
          margin: 2px;
        }
      }
    }

    .post__img-container {
      width: 100%;
      height: 100%;

      img {
        height: 400px;
        object-fit: cover;
        width: 100%;
      }
    }
  }

  .post__footer {
    display: flex;
    flex-direction: column;
    transition: var(--trans);
    background: var(--white);
    height: 100%;
    width: 100%;

    .footer__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;

      .footer__top-left {
        display: flex;
        align-items: center;

        svg {
          margin: 0 0.5rem;

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }

    .footer__bottom {
      display: flex;
      flex-direction: column;
      transition: var(--trans);

      .footer__bottom-top {
        display: flex;
        padding: 10px;
        flex-direction: column;

        span {
          margin: 5px 0;
        }

        .view__app,
        .time {
          font-weight: 400;
          color: var(--gray);
          margin: 5px 0;
        }
      }
      .footer__bottom-bottom {
        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 0 10px;
        border-top: var(--border);
        input {
          flex: 1;
          height: 100%;
          margin: 0 5px;
          outline: none;
          border: none;
        }

        button {
          display: flex;
          background: none;
          outline: none;
          cursor: pointer;
          color: var(--blue);
          border: none;
          font-weight: bold;
        }
      }
    }
  }
}
