.app__stories {
  width: 60%;
  height: 100px;
  background: var(--white);
  display: flex;
  align-items: center;
  display: flex;
  padding: 0 10px;
  border: var(--border);
  border-radius: 5px;
}
