.app__explore {
  display: flex;
  width: 100%;

  .explore__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .explore {
      height: 293px;
      width: 293px;
      margin: 5px;
      position: relative;
      transition: var(--trans);

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      &:hover {
        .explore__content {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgb(0, 0, 0, 0.5);
        }
      }
    }
  }
}
